RewriteEngine On

# If you run the project from a subfolder, update this if needed
# RewriteBase /queromoo/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
